.home {
    margin: 1.5rem 0;
}

.normal-font {
    font-family: Arial, Helvetica, sans-serif;
}

.homelogo {
    height: 3rem;
}

.avatar {
    height: 2.25rem;
}

.party-text {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.scroll {
    width: auto;
    max-height: 15rem;
    overflow-y: auto;
}