<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScheduleSite</title>

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/css/calendar/calendar.css" />
    <link rel="stylesheet" href="~/css/calendar/site.css" />

</head>
<body>
    
    @{
        string role = User.Claims.FirstOrDefault(c => c.Type == ClaimsIdentity.DefaultRoleClaimType).Value;
    }

    @if (User.Identity.IsAuthenticated)
    {
        <header class="p-3 mb-3 border-bottom" id="header" style="display: block;">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                    <a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                        <img class="homelogo" src="~/photo/homelogo.png" />
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/@role/Home" class="nav-link px-2 link-secondary font">Home</a></li>

                        @if (role == "Teacher")
                        {
                            <li><a asp-action="Party" class="nav-link px-2 link-dark font">Create party</a></li>
                        }

                        @if (role == "Student")
                        {
                            <li><a asp-action="Parties" class="nav-link px-2 link-dark font">Parties</a></li>
                            <li><a asp-action="" class="nav-link px-2 link-dark font">Top up</a></li>
                        }

                        <li><a asp-controller="InputPage" asp-action="SignOut" class="nav-link px-2 link-dark font">Sign Out</a></li>
                    </ul>

                    <div class="text-end">
                        <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                            <img src="~/photo/avatar.jpg" alt="mdo" class="rounded-circle avatar" />
                        </a>
                    </div>

                </div>
            </div>
        </header>
    }

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/8c57d5d3d6.js" crossorigin="anonymous"></script>

</body>
</html>
